name: Integracao Continua

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
    
  workflow_dispatch:

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build da aplicacao
      run: docker compose up -d
      
  Teste-BackEnd:
  
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3
      - name: Testes do backend
        run: docker compose run backend python3 library_back/manage.py test
        
  
  Teste-FrontEnd:
  
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3
      - name: Teste do front
        run: docker compose run frontend bash -c "CI=true npm test"
     
     
  Lint-BackEnd:
  
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3
      - name: Lint no backend
        run: docker compose run backend bash -c "pip install --upgrade pip && pip install pylint && find . -name '*.py' -print -exec pylint {} \;"
    
  Deploy_back:
    needs: Teste-BackEnd
    runs-on: ubuntu-lastest
    steps:
      - uses: actions/checkout@v2
      - uses: akhileshns/heroku-deploy@v3.12.12
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: "backend"
          heroku_email:  ${{secrets.HEROKU_EMAIL}}
         
  
  Deploy_front:
    needs: Teste-FrontEnd
    runs-on: ubuntu-lastest
    steps:
      - uses: actions/checkout@v2
      - uses: akhileshns/heroku-deploy@v3.12.12
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: "front"
          heroku_email:  ${{secrets.HEROKU_EMAIL}}
  
  
  
  
  
  
